.App nav {
  display: flex;
  justify-content: space-around;
}

.temperature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature-container p img {
  height: 20px;
}

.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
